<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a 3rd-year PhD student in Computer Science and Software Engineering Department, East China Normal University, under the supervision of Prof. Hongyuan Zha. My research in data visualization area are mainly conducted under the supervision of Prof. Nan Cao in iDVx Lab, Tongji University. The research topics that I've worked on mostly came from the problems in healthcare domain, such as summarization, progression analysis and anomaly detection on temporal event sequence and time-series data. Prior to my PhD study, I received my bachelor's degree in ECNU, software engineering. 
    </p>

    <p>
      I enjoy bridging the gap between non-expert users and machine learning models. My goal is to increase the interpretability of the algorithms and build applications that are efficient in delivering explainable results and providing practicable insights through engaging and interactive user experience. 
    </p>

    <p>
      If you find me not in front of a computer, I'm probably working out at the gym, running on the road, rehearsing choir, or crossing off another item on my bucket list.
    </p>
    {% include employment-status.html %}
  </div>
</section>
